---
import { getPosts } from "../../data/connectNotion";
import Layout from "../../layouts/Layout.astro";
import BlogCard from "../../components/BlogCard.astro";

const posts = await getPosts();
const filteredPosts = posts.filter((post) => !post.draft);

const title = "Blog | Consejos y Guías para Padres";
const description =
  "Encuentra consejos útiles, guías y recomendaciones sobre productos para bebé, crianza y más.";
const keywords = [
  "blog bebés",
  "consejos crianza",
  "guías productos bebé",
  "recomendaciones bebés",
];
---

<Layout title={title} description={description} keywords={keywords}>
  <div class="py-12 bg-gradient-to-r from-purple-600 to-purple-900 text-white">
    <div class="container mx-auto px-4">
      <h1 class="text-4xl font-bold mb-4">Blog</h1>
      <p class="text-lg max-w-3xl">
        Descubre artículos útiles, guías y consejos para padres sobre productos
        para bebé y crianza.
      </p>
    </div>
  </div>

  <div class="container mx-auto px-4 py-12">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {filteredPosts.map((post) => <BlogCard post={post} />)}
    </div>
  </div>
</Layout>
