---
import { containerClass } from "../../styles/utils";
---

<footer class="bg-secondary-light text-text-primary py-12">
  <div class={containerClass}>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h3 class="text-xl font-semibold mb-4">Sobre Nosotros</h3>
        <p class="text-text-secondary">
          Seleccionamos los mejores productos para bebé para hacer tu
          experiencia de compra más fácil.
        </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-4">Enlaces Rápidos</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="/#productos-destacados"
              class="text-text-secondary hover:text-primary-dark transition-colors"
            >
              Productos Destacados
            </a>
          </li>
          <li>
            <a
              href="/#categorias"
              class="text-text-secondary hover:text-primary-dark transition-colors"
            >
              Categorías
            </a>
          </li>
          <li>
            <a
              href="/blog"
              class="text-text-secondary hover:text-primary-dark transition-colors"
            >
              Blog
            </a>
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-xl font-semibold mb-4">Información Legal</h3>
        <p class="text-text-secondary">
          © 2024 PequeNido. Somos participantes del Programa de Afiliados de
          Amazon.
        </p>
      </div>
    </div>
  </div>
</footer>
